<div *ngIf="(basket$ | async) === null">
  <h3>There Is no item added !</h3>
</div>
<div *ngIf="basket$ | async as basket">
  <div class="row">
    <app-basket-summary 
    (decrement)="decrementItemQuantity($event)"
    (increment)="incrementItemQuantity($event)"
    (remove)="removeBasketitem($event)"
    ></app-basket-summary>
  </div>
  <div class="row">
    <div class="col-6"></div>
    <div class="col-6">
      <app-order-totals></app-order-totals>
      <a routerLink="/checkout" class="btn btn-outline-success"> checkout </a>
    </div>
  </div>
</div>
